<html>
<head th:replace="~{base :: head}">
</head>
<body>
<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Alterar')}"></div>
		<nav th:replace="~{base :: navegacao}"></nav>

		<div class="mt-3">								
				
				<div class="form-group">
					<label for="cpf">CPF</label> 
					<span v-model="pessoa.cpf" class="form-control" placeholder="cpf"/> 
				</div>
				
				
				
				<div class="form-group">
					<label for="nome">Nome Completo</label> 
					<input  v-model="pessoa.nome"class="form-control" placeholder="nome completo" /> 
					<small class="form-text text-muted">Inserir o nome completo</small>
				</div>
				<div class="form-group">
					<label for="telefoneResidencial">Telefone Residencial</label> 
					<input v-model="pessoa.residencial" class="form-control" placeholder="Telefone Residencial" /> 
					<small class="form-text text-muted">Inserir o telefone residencial do contato</small>
				</div>
				<div class="form-group">
					<label for="telefoneCelular">Telefone Celular</label> 
					<input v-model="pessoa.celular" class="form-control" placeholder="Telefone secundario" /> 
					<small class="form-text text-muted">Inserir o telefone secundário do contato</small>
				</div>
				<div class="form-group">
					<label for="email">Email</label> 
					<input v-model="pessoa.email" class="form-control" placeholder="email" /> 
					<small class="form-text text-muted">Inserir o email do contato</small>
				</div>

				<button type="submit" class="btn btn-primary">Alterar</button>
		</div>
	</div>
</body>
</html>